# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# -----------------------------
# ML / Data
# -----------------------------
*.csv
*.parquet
*.pkl
*.joblib

# Generated outputs
sample_*.json
*.txt

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db
